[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "HanekeSwift"]
	path = HanekeSwift
	url = https://github.com/Haneke/HanekeSwift.git
[submodule "ENSwiftSideMenu"]
	path = ENSwiftSideMenu
	url = https://github.com/evnaz/ENSwiftSideMenu.git
[submodule "RxSwift"]
	path = RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
